.main-content {
 
    margin-left: 110px !important;
}

.breadcrumb-separator {
    --bs-breadcrumb-divider: ">" !important;
}

.breadcrumb-icon {
    font-size: 20px;
    color: red;
}

.ps-0{
    margin-left: 100px;
}